/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button, input, select, textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img, embed, iframe, object, audio, video {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td, th {
  padding: 0;
  text-align: left;
}

/* ТИПОГРАФИЯ  */
body, input[type='submit'] {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
h1 {
    font-size: 1.8em;
    color: #777;
}
h2{color: #eee}

a {
  font-weight: bold;
  text-decoration: none;
  opacity: .8;
  color: #507299;
}
a:hover {
  opacity: 1;
}
a:active {
  color: #999;
}


.lg-sub-html a {
  font-weight: bold;
  padding: .6em .6em .3em;
  text-decoration: none;
  text-transform: uppercase;
  opacity: .8;
  color: #5E81A8;
  border-radius: .3em;
  background-color: #fff;
}
.lg-sub-html a:hover {
  opacity: 1;
}
.lg-sub-html a:active {
  color: #999;
}
.lg-sub-html {
    color: #bebebe;
}


.demo-gallery > ul {
  margin-bottom: 0;
  padding-left: 0;
}
.demo-gallery > ul > li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
  list-style: outside none none;
}
.demo-gallery > ul > li a {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  border-radius: .5em;
  width: 200px;
  height: 133px;
  opacity: 1
}
.demo-gallery > ul > li a > img {
  width: 200px;
  height: 133px;
  -webkit-transition: -webkit-transform .15s ease 0s;
  -moz-transition: -moz-transform .15s ease 0s;
  -o-transition: -o-transform .15s ease 0s;
  transition: transform .15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(0.9, 1, 1);
  transform: scale3d(0.9, 1, 1)
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  -webkit-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
  opacity: 0;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, .4);
}
.demo-gallery .justified-gallery > a > img {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .15s ease 0s;
  -moz-transition: -moz-transform .15s ease 0s;
  -o-transition: -o-transform .15s ease 0s;
  transition: transform .15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  -webkit-transition: opacity .3s ease 0s;
  -o-transition: opacity .3s ease 0s;
  transition: opacity .3s ease 0s;
  opacity: 0;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, .4);
}
.demo-gallery .video .demo-gallery-poster img {
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: -24px;
  opacity: .8;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
